@font-face{
 font-family:'digital-clock-font';
 src: url('fonts/digital-dream.regular.ttf');
}

html {
  height: 100%;
  width: 100%;
}

body {

	background:#000 no-repeat center center fixed; 
user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
vertical-align:middle; 
text-align:center;
z-index: -1;
margin:0;
padding:0;
 cursor: url(http://i.imgur.com/gQyFbtU.png), auto;

}

h3 {
    font-family: "Gil sans", sans-serif;
    color: white;
    text-align: left;
    margin-left: 5px;
}

h4 {
    font-family: "Gil sans", sans-serif;
    color: yellow;
}

h5 {
    font-family: "Gil sans", sans-serif;
    color: white;
    font-size: 12px;
}

.CT {

vertical-align:middle;
position: absolute;
top: 60%;
height: 70px;
margin-left:auto;
margin-right:auto;
display:block;
width:520px;
margin-top: -5%;
font-family:Tahoma, Arial;
font-size:20px;
color:#fff;
font-weight:normal;
text-align:right;
user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;

}

.image_block {


position: absolute;
bottom: 50px;
left: 50%;
width: 50%;
margin: -5% 0 0 -25%;
		

}
/*p {

display:block;
float:middle;
text-align:right;
width:100%;


}*/

.centeragain {

width:520px;
margin:0px auto;
text-align:left;



}
.messageBox {  
display:block;
color:#67A2E6;
font-family:Segoe UI, Arial;
font-size:20px;
margin-left:auto;
margin-right:auto;
text-align:right;
user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;
z-index:999;  }  

#black {
display:none;
}


#bsod {
display:none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
    z-index:999;
	height:100%;
	float:left;
	text-align:left;
}

#myImage {
padding:5px;
	float:left;
	text-align:left;

}

#myImage2 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
    z-index:998;
	height:100%;
}

.mainblock {width:720px;height:550px;background:#841212;margin:0 auto;margin-top:17vh;border:2px solid #d4d0c8;}

.timer-rectangle {
        width: 200px;
        height: 150px;
        border: 1px solid white;
        padding: 5px;
      }
.attr-rectangle {
    font-size: 10px;
    width: 200px;
    height: auto;
    border: none;
    margin-top: 0px;
}

.other-rectangle {
    width: 90%;
    height: 110px;
    border: 1px solid white;
    padding: 5px;
    display: inline-block;
}

.container {
    display: flex;
    flex-direction: row;
    /*border: 1px solid black;*/
}

.left-column {
    width: 30%;
    background-color: lightgray;
    padding: 10px;
}

.main-section {
    flex: 1;
    padding: 10px;
}

.info-section {
    margin-left:5px;
    background:white;
    color: black;
    z-index:999;
    height:300px;
    float:center;
    width:90%;
    overflow: auto;
}

.timer {
    font-family: digital-clock-font;
    font-size: 20px;
    white-space: nowrap;
}

p {
    color: white;
    font-family: "Gil sans", sans-serif;
}

code {
    color: white;
}